<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, iste
      nostrum impedit delectus a molestias cum architecto vitae adipisci
      recusandae ipsa doloribus facere sint fugit aspernatur numquam ea quas
     alias.</p>
  </div>
</section>