<div class="jumbotron mt-4">
  <h1 class="display-4">App notas NodeJS & MondoDB</h1>
  <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Possimus nostrum, excepturi, accusantium, quisquam sint amet assumenda
    minima asperiores ad mollitia ea eius magnam ducimus tempore. Sed officia
    voluptas nam cumque!</p>
  <hr class="my-4" />
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, rerum quis.
    Veniam, impedit, optio facere dolores aut pariatur vitae tempore earum fuga
    maxime dignissimos, deleniti mollitia? Saepe voluptas sint excepturi.</p>
  <a href="https://www.google.com/" class="btn btn-p  rimary">Inicio</a>
</div>